.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    height: 8vh;
}

.logo {
    height: 60px;
}

.nav__links_container {
    display: flex;
}

.nav__links_container .nav__link {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    color: #000;
}

.nav__links_container .nav__link:hover {
    background-color: #ED3137;
    color: #fff;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger .line {
    height: 2px;
    width: 20px;
    background-color: #000;
    margin-bottom: 6px;
}


@media (max-width: 1040px) {
    .nav__links_container .nav__link {
        font-size: 0.8rem;
    }
}

@media (max-width: 992px) {
    .header {
        position: relative;
    }

    .header .burger {
        display: block;
        transition: all 0.3s;
    }

    .nav__links_container {
        position: absolute;
        top: 8vh;
        left: 0;
        height: calc(150vh - 8vh);
        width: 100%;
        background-color: #f8f9fa;
        flex-direction: column;
        text-align: center;
        padding-top: 1.5rem;
        transform: translateX(-100%);
        transition: all 0.3s;
        z-index: 10000;
    }

    .nav__links_container li {
        margin-bottom: 1rem;
    }

    .nav__links_container .nav__link {
        font-size: 1rem;
    }

    .navBarActive {
        transform: translateX(0);
    }

    .toggle .line {
        transition: all 0.3s;
    }

    .toggle .line__1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line__2 {
        opacity: 0;
    }

    .toggle .line__3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .nav__links_container .nav__link:hover {
        background-color: #f8f9fa;
        color: #000;
    }

    .nav__link {
        transition: all 0.3s;
        padding: 0.4rem 1rem;
        border-radius: 20px;
        color: #000;
    }

    .nav__link:hover {
        background-color: #0355ab;
        color: #fff;
        border-radius: 20px;
    }

}

@media (max-width: 576px) {
    .header {
        padding: 1rem 0.8rem;
    }
}